.App {
  text-align: center;
}

.App > h1{
  color: white;
  text-shadow: 2px 2px 3px black;
}

.App > h2{
  color: yellow;
  text-shadow: 2px 2px 3px black;
}

.message__entry{
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 420px;
}
