.message{
    padding: 10px;
    margin: 10px;
    width: fit-content;
}

.message__user{
    margin-left: auto;
    color: white;
    text-align: left !important;
}

.message__userCard{
    color: white !important;
    background-color: #0b81ff !important;
    background: linear-gradient(145deg, dodgerblue,blue);
    opacity:.60;
}

.message__guestCard{
    color: blue !important;
    background-color: #e9e9eb !important;
    background: linear-gradient(145deg, antiquewhite,lightgreen);
    opacity:.60;
    padding:0 !important;
    margin: 0 !important;
}

.card__content{
    padding:0 !important;
    margin: 0 !important;
    font-size: 1rem !important;
    line-height: 0 !important;
}